.list-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.similar-number {
  font-weight: bolder;
  color: darkgrey;
  margin-right: 1rem;
  font-size: 2rem;
}

.cover {
  margin-right: 1rem;
}

.song-name {
  font-weight: bold;
}

.artists {
  color: darkgrey;
  font-size: small;
}

.duration {
  font-size: 0.8rem;
  font-weight: 600;
  width: 20%;
}

.clicks {
  width: 20%;
  font-size: 0.8rem;
  color: darkgrey;
  font-weight: 600;
}

.song-details {
  width: 40%;
}

.details-button {
  width: 20%;
}

.flex {
  display: flex;
  color: darkgrey;
  font-weight: bold;
}

.title-song {
  margin-bottom: 0.0rem;
}

.artists-title {
  color: darkgrey;
  font-weight: bold;
  margin-top: 0;
  margin-left: 0.2rem;
}

.song-info {
  display: flex;
  justify-content: space-evenly;
}

.title-details {
  margin-bottom: 0;
}

.subtitle-details {
  margin-top: 0;
  color: darkgrey;
  font-weight: bold;
  font-size: smaller;
  text-align: center;
}
