<nb-layout>

  <nb-layout-header>
    MMSR Projekt
    <nb-search  type="rotate-layout"></nb-search>
  </nb-layout-header>


  <nb-layout-column>
    <h1 *ngIf="searchSub|async as searchInput">Ergebnis: {{searchInput}}</h1>
    <div class="row" *ngFor="let song of this.searchService.getSimilarSongs() | async; let i = index">
      <div class="col">
        <nb-card>
          <nb-card-header class="header">
              <ng-container *ngIf="this.getCover(song.artist,song.album_name) | async as cover">
                <img src="{{ cover.album.image[0]['#text'] }}">

              </ng-container>
          </nb-card-header>


          <nb-card-body>
            <div>
              <div class="song-title">{{song.song}}</div>
              <div class="song-artist">{{song.artist}}</div>
              <div class="song-release">{{song.album_name}} · 2017</div>
            </div>
          </nb-card-body>
          <nb-card-footer><button nbButton>YouTube</button></nb-card-footer>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>

</nb-layout>
